__pycache__/
*.directory

/run.sh
no_wows\.py
temp.py
config/no_wows\.json
config/beta_config\.json
config/config\.json
data/expected_and_coeff\.json
data/ship_dict\.json
/data/yasen_db

.cache/
\.idea/
data/dumps/*
data/music_cache/*
data/logs/*

!.gitkeep
