
temp.py

__pycache__/

data/dumps/*.png

data/mydb

tests/\.cache/v/cache/

*.log

*.directory

\.idea/

config/beta_config\.json

config/config\.json

data/expected_and_coeff\.json

data/ship_dict\.json
/run.sh
