__pycache__/
.cache/
data/dumps/*.png
\.idea/


config/beta_config\.json
config/config\.json
data/expected_and_coeff\.json
data/ship_dict\.json
/run.sh
no_wows\.py
temp.py
config/no_wows\.json
*.directory
*.log
/data/yasen_db
