aiohttp
appdirs
async-timeout
beautifulsoup4
cffi
chardet
discord.py
google
html2text
multidict
osuapi
packaging
py-stackexchange
pycparser
PyNaCl
pyparsing
requests
six
websockets
yarl
youtube-dl
osu_sig
wowspy