aiohttp>=1.0.5
async-timeout>=1.2.1
beautifulsoup4>=4.6.0
certifi>=2017.4.17
cffi>=1.10.0
chardet>=3.0.3
discord.py>=0.16.8
google>=1.9.3
html2text>=2016.9.19
idna>=2.5
multidict>=2.1.6
osu-sig>=1.2.0
py-stackexchange>=2.2.6
Pybooru>=4.1.0
pycparser>=2.17
PyNaCl>=1.1.2
requests>=2.17.3
six>=1.10.0
urllib3>=1.21.1
websockets>=3.3
wowspy>=1.1.0
youtube-dl>=2017.6.5
